<!DOCTYPE html>
<html>
<head>
  <title>All of the Things</title>
   <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
   <%= stylesheet_link_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' %>
   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
   <%= javascript_include_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js' %>
  <%= csrf_meta_tags %>
</head>
<body>
   <nav class="navbar navbar-default navbar-static-top navbar-inverse">
      <div class="container">
	 <ul class="nav navbar-nav">
	    <li class="<%= 'active' if params[:controller] == 'welcome' %>"><%= link_to(content_tag(:span, nil, :class => 'glyphicon glyphicon-th-large') + " All of the Things", { controller: "welcome", action: "index" }) %></li>
	    <% if current_user %>
	       <li class="<%= 'active' if params[:controller] == 'houses' %>"><%= link_to(content_tag(:span, nil, :class => 'glyphicon glyphicon-home') + " Houses", { controller: "houses", action: "index" }) %></li>
	       <li class="<%= 'active' if params[:controller] == 'vehicles' %>"><%= link_to(content_tag(:span, nil, :class => 'glyphicon glyphicon-road') + " Vehicles", { controller: "vehicles", action: "index" }) %></li>
	       <li class="<%= 'active' if params[:controller] == 'accounts' %>"><%= link_to(content_tag(:span, nil, :class => 'glyphicon glyphicon-usd') + " Accounts", { controller: "accounts", action: "index" }) %></li>
	       <li class="<%= 'active' if params[:controller] == 'todos' %>"><%= link_to(content_tag(:span, nil, :class => 'glyphicon glyphicon-list') + " ToDo", { controller: "todos", action: "index" }) %></li>
	    <% end %>
	 </ul>
	 <ul class="nav navbar-nav navbar-right">
	    <li><a target="_blank" href="https://github.com/cilynx/All-of-the-Things/issues"><span class="glyphicon glyphicon-exclamation-sign"></span> Issues?</a></li>
	    <% if current_user %>
	       <li class="dropdown">
		  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> <%= current_user.handle %> <span class="caret"></span></a>
		  <ul class="dropdown-menu" role="menu">
		     <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
		     <li class="divider"></li>
		     <li class="disabled"><a href="#"><span class="glyphicon glyphicon-wrench"></span> Settings</a></li>
		  </ul>
	       </li>
	    <% else %>
	       <%= form_tag('/login', { :class => 'navbar-form navbar-right' } ) do %>
		  <li>
		     <%= text_field_tag :handle, nil, { :class => 'form-control', :placeholder => 'username' } %>
		     <%= password_field_tag :password, nil, { :class => 'form-control', :placeholder => 'password' } %>
		     <%= submit_tag "Sign in", { :class => 'btn btn-default' } %>
		  </li>
	       <% end %>
	       <li class="<%= 'active' if params[:controller] == 'users' %>"><%= link_to(content_tag(:span, nil, :class => 'glyphicon glyphicon-user') + ' Sign up', { controller: "users", action: "new" }) %></li>
	    <% end %>
	 </ul>
      </div>
   </nav>
   <div class="container">
      <% if notice %> <div class="alert alert-warning"><%= notice %></div> <% end %>
      <%= yield %>
   </div>
</body>
</html>
